body{
    background-color: darkgray;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
}

.form-login {
    background-color: white;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    
    
}
.form-login img {
    margin-left: 50%;
    transform: translateX(-50%);
}
.form-login button {
    margin-left: 100%;
    transform: translateX(-100px);
}